.container {
  display: flex;
  flex-direction: column;
  gap: 90px;
}
.center {
  display: flex;
  flex-direction: row;
  gap: 90px;
}
.nav {
  display: flex;
  width: 1000px;
  height: 114px;
  align-items: center;
  justify-content: space-between;
  gap: 270px;
  flex-shrink: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.right-nav {
  display: flex;
  height: 110px;
  justify-content: center;
  align-items: center;
  gap: 56px;
}
.logo {
  width: 137.5px;
  height: 20px;
  fill: #1d2026;
  cursor: pointer;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 27px;
}
.nav-links-item {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.nav-links-item .box {
  display: flex;
  height: 69px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 47px;
  flex-shrink: 0;
}
.box .active {
  height: 3px;
  flex-shrink: 0;
  align-self: stretch;
  background: var(--main, #ff7d1a);
}
.left-nav {
  display: flex;
  justify-content: center;
  width: 117.952px;
  height: 49px;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
}
.grocery-icon {
  width: 28px;
  height: 24px;
  flex-shrink: 0;
  cursor: pointer;
}
.avatar-icon {
  width: 49px;
  height: 49px;
  flex-shrink: 0;
  cursor: pointer;
  /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
}
.avatar-icon img {
  width: 49px;
  height: 49px;
  flex-shrink: 0;
}
/*  Start product images box  */
.product-images-box {
  display: flex;
  width: 445px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.product-images-box .home {
  width: 445px;
  height: 445px;
}
.product-images-box img {
  border-radius: 10px;
  width: 88px;
  height: 88px;
  flex-shrink: 0;
}
.product-images-box img.active {
  opacity: 0.5;
  border: 1px solid var(--main, #ff7d1a);
}
/*  End product images box  */
.product-detail {
  display: flex;
  width: 455px;
  height: 565px;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
  align-items: space-between;
  gap: 27px;
}
.texting {
  display: flex;
  width: 455px;
  height: 250px;
  flex-shrink: 0;
  flex-direction: column;
  gap: 29px;
}
.company-name {
  width: 172.19px;
  height: 13px;
  flex-shrink: 0;
  color: var(--main, #ff7d1a);
  /* font-family: "Kumbh Sans"; */
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.98px;
}
.heading {
  width: 421.605px;
  height: 97px;
  flex-shrink: 0;
  color: var(--Black, rgba(0, 0, 0, 0.75));
  /* font-family: "Kumbh Sans"; */
  font-size: 43.111px;
  font-style: normal;
  font-weight: 700;
  line-height: 121.429%; /* 52.349px */
  letter-spacing: 0.862px;
}
.story {
  width: 441px;
  color: #000;
  /* font-family: "Kumbh Sans"; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 151%; /* 24.16px */
  letter-spacing: 0.16px;
}
.price-box {
  display: flex;
  flex-direction: row;
  width: 172px;
  height: 67px;
  flex-shrink: 0;
  row-gap: 16px;
  column-gap: 11px;
  flex-wrap: wrap;
}
.price-box span:nth-child(1) {
  width: 109px;
  height: 34px;
  flex-shrink: 0;
  color: rgba(0, 0, 0, 0.7);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 121.429%; /* 36.429px */
  letter-spacing: -0.9px;
}
.price-box span:nth-child(2) {
  display: flex;
  width: 47px;
  height: 27px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: #ff7d1a;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 121.429%;
  letter-spacing: -0.48px;
  padding: 0;
  border-radius: 5px;
  background: var(--Secondery, #ffede0);
}
.price-box span:nth-child(3) {
  color: rgba(0, 0, 0, 0.1);
  font-family: "Kumbh Sans";
  font-size: 17.056px;
  font-style: normal;
  font-weight: 700;
  line-height: 121.429%; /* 20.71px */
  letter-spacing: -0.512px;
  text-decoration-line: strikethrough;
}
.add-product-box {
  display: flex;
  flex-direction: row-reverse;
  width: 455px;
  height: 56px;
  flex-shrink: 0;
  gap: 7px;
  align-items: center;
}
.button-add-cart {
  display: flex;
  width: 272px;
  height: 56px;
  padding: 0px 78.44px;
  justify-content: center;
  align-items: center;
  gap: 10.734px;
  flex-shrink: 0;
  border-radius: 8.257px;
  background: #ff7e1b;
  color: var(--White, #fff);
  text-align: center;
  font-size: 14.083px;
  font-style: normal;
  font-weight: 700;
  line-height: 121.429%; /* 17.1px */
  letter-spacing: -0.422px;
  border: 0;
}
.button-add-cart svg {
  width: 18.165px;
  height: 16.514px;
  flex-shrink: 0;
}
.product-quantity {
  display: flex;
  width: 176px;
  height: 47px;
  justify-content: center;
  align-items: center;
  gap: 45px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f7f8fd;
}
.product-quantity svg {
  width: 12px;
  height: 12px;
}
.images-small {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 549px;
  justify-content: center;
}
/* .container {
  display: flex;
  flex-direction: row;
  gap: 90px;
} */
/* Start .product-detail .zoom  */
.product-images-box.zoom {
  display: none;
  position: absolute;
  width: 531px;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
  padding: 0px 17px 0px 24px;
  flex-direction: row;
  align-items: flex-end;
  gap: 20px;
  justify-content: flex-end;
}
.product-images-box.zoom .home {
  width: 549.875px;
  height: 549.875px;
  flex-shrink: 0;
}
.product-images-box.zoom .icon-close {
  display: flex;
  padding-right: 15.534px;
  align-items: flex-start;
  gap: 15.534px;
}
.product-images-box.zoom .icon-close svg {
  width: 20.872px;
  height: 20.872px;
  fill: var(--White, #fff);
}
/* .product-images-box.zoom .home-box {
} */
.product-images-box.zoom .home-box .icon-next {
  position: absolute;
  display: flex;
  width: 58.5px;
  height: 58.5px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
  border-radius: 75px;
  background: var(--White, #fff);
}
.product-images-box.zoom .home-box .icon-next.left {
  left: -15px;
  top: 258px;
}
.product-images-box.zoom .home-box .icon-next.right {
  left: 530px;
  top: 258px;
}

/* End .product-detail .zoom  */
.cart {
  display: none;
}
.cart.fill {
  width: 315px;
  height: 48px;
  flex-direction: column;
  gap: 19px;
  position: fixed;
  display: none;
  height: 200px;
  padding: 24px 0px;
  flex-direction: column;
  align-items: center;
  gap: 79px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--White, #fff);
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 13px 32.4px -7px rgba(0, 0, 0, 0.25);
  /* right: 256px; */
  /* top: 18px; */
  right: 46px;
  top: 93px;
  place-content: baseline;
  width: 350px;
  bottom: auto;
  right: auto;
  left: auto;
  top: 106px;
  transform: translate(663px);
}
.cart.fill .info-item {
  display: flex;
  width: 282px;
  height: 48px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.cart.fill .info-item .description p:nth-child(0) {
  width: 217px;
  height: 18px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Kumbh Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 121.429%; /* 19.429px */
}
.cart.fill .info-item .description p:nth-child(1) {
  width: 217px;
  height: 18px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Kumbh Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 121.429%; /* 19.429px */
}
.cart.fill .items-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.cart.fill .items-container .info-item .description p {
  margin: 0;
}
.cart.fill .items-container .info-item .description p:last-child {
  text-align: left;
  padding-left: 7px;
  padding-top: 5px;
}
.cart.fill .items-container .info-item img {
  width: 48px;
  height: 48px;
}
.cart.fill .info-item .description span {
  color: #000;
  font-family: "Kumbh Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 121.429%;
  letter-spacing: 0.32px;
}
.cart.fill .icon-delete {
  width: 14px;
  height: 16px;
  flex-shrink: 0;
}

.cart.empty {
}

.cart.active {
  display: flex;
}
.cart .part-1 {
  /* display: flex; */
  flex-direction: column;
  align-items: start;
  gap: 27px;
  width: 312px;
  /* height: 16px; */
  color: #000;
  font-family: "Kumbh Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 121.429%;
  /* padding: 90px; */
  padding-left: 20px;
  text-align: left;
}

.cart .items-bag {
  width: 143px;
  height: 19px;
  flex-shrink: 0;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Kumbh Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 121.429%; /* 19.429px */
}
.cart .part-1 svg {
  width: 350px;
  height: 0.5px px;
  transform: rotate(-0.08deg);
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
  transform: translate(-29px);
}
